# Node.js
node_modules/

# Firebase
firebase-debug.log
database.rules.json
.yarn/
firebase
.firebaserc
firebase.json

# macOS
.DS_Store
.DS_Store


# Yarn
yarn.lock

# Expo
.expo/

#yarn
yarn.lock
.DS_Store
.firebase/hosting.eQ.cache
